.order-status-not-processed {
    background-color: #f8d7da;
  }
  
  .order-status-processing {
    background-color: #fff3cd;
  }
  
  .order-status-dispatched {
    background-color: #cce5ff;
  }
  
  .order-status-complete {
    background-color: #d4edda;
  }
  
  .order-status-cancelled {
    background-color: #fc2408;
  }

  .order-status-cash-on-delivery {
    background-color: #da5315;
  }
  